extends layout

block content
  h2 #{tag.name} Listings
  p Study sessions for this subject.

  if listings.length === 0
    p No listings available for this subject.
  else
    ul
      each listing in listings
        li
          h3= listing.title
          p
            strong Module:
            |  #{listing.module}
          p
            strong Location:
            |  #{listing.location}
          p
            strong Start time:
            |  #{listing.start_time}
          p
            strong Status:
            |  #{listing.status}