extends layout

block content

 
  // shows all degrees:
  
  if !selectedDegree

    .degree-container
      each item in degrees
        a.degree-card(href=`/subjects/${encodeURIComponent(item.degree)}`)

          .degree-icon
            if item.degree === 'Artificial Intelligence'
              img(src="/images/AI_Icon.jpg", alt="AI")
            else if item.degree === 'Business and Computing'
              img(src="/images/businessComputingIcon.jpg", alt="Business")
            else if item.degree === 'Chemistry'
              img(src="/images/chemistryIcon.jpg", alt="Chemistry")
            else if item.degree === 'Computer Science'
              img(src="/images/computerIcon.jpg", alt="Computer Science")
            else if item.degree === 'Cyber Security'
              img(src="/images/cyberIcon.jpg", alt="Cyber Security")
            else if item.degree === 'Digital Media'
              img(src="/images/digitalMediaIcon.jpg", alt="Digital Media")
            else if item.degree === 'Law'
              img(src="/images/lawIcon.jpg", alt="Law")
            else if item.degree === 'Psychology'
              img(src="/images/psychologyIcon.jpg", alt="Psychology")
            else
              img(src="/images/default.png", alt="Default")

          p.degree-name= item.degree 

   
  else
    //showing listings for degree clicked on:
    h2 Study Sessions for #{selectedDegree}

    a(href="/subjects") ← Back to Degrees

    .listings-container
      if listings && listings.length

        each listing in listings
          .listing-card

            img.profile(src="/images/bookIcon.png")

            h3= listing.title

            p
              strong Module:
              | #{listing.module_name}

            p
              strong Level:
              | #{listing.level}

            p
              strong Session Type:
              | #{listing.sessionType || 'General'}

            p
              strong Location:
              | #{listing.location}

            p
              strong Start time:
              | #{listing.start_time}

            p
              strong Status:
              | #{listing.status}

            .join-container
              if requestedListingIds && requestedListingIds.includes(listing.listing_id)
                button.join-btn(disabled) Request Sent
              else
                form(method="POST" action=`/listings/${listing.listing_id}/join`)
                  button.join-btn(type="submit") Request to Join

      else
        p No study sessions available for this subject.